<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <div class="nova-categoria">
          <input [(ngModel)]='novaCategoria.nome' type="text" name="categoria" id="categoria" placeholder="Nova categoria" />
          <button type="submit" (click)='adicionarCategoria()' >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
          </button>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="lista-categoria" *ngFor='let item of categoriaArray' >

      <ion-menu-toggle>
        <div class="lista-categoria-item">
          <p class="lista-categoria-titulo" (click)='findByIdListaCategoria(item.id)' >{{item.nome}}</p>
          <p class="lista-categoria-qt-tens" (click)='findByIdListaCategoria(item.id)' >{{item.lista.length}}</p>
          <div class="lista-categoria-icone-excluir" (click)='excluirCategoria(item.id)' >
            <img src="../../assets/img/excluir-icone.png" alt="{{item.nome}}" >
          </div>
          <div class="lista-categoria-icone" [routerLink]="['/editar-categoria', item.id]" (click)='carregaCategoriaPorId(item.id)'>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
              <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
            </svg>
          </div>
        </div>
      </ion-menu-toggle>

    </div>

  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        <div class="perfil">
          <div class="img">
            <img src="{{avatar}}" alt="{{username}}">
          </div>
          <p class="perfil-p">{{username}}</p>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div *ngIf="this.isSelecionouUmMenu === true" class="get-categoria">
      <h1>{{categoria.nome}}</h1>
      <ul>
        <a *ngFor='let item of categoria.lista' >
          <div class="icone" *ngIf="item.ativo" (click)='alterarStatusItemLista(item)' >
            <img src="../../assets/img/certo-icone.png" alt="{{item.texto}}">
          </div>
          <div class="icone" *ngIf="!item.ativo" (click)='alterarStatusItemLista(item)' >
            <img src="../../assets/img/errado-icone.png" alt="{{item.texto}}">
          </div>
          <p class="texto-desativo" *ngIf="item.ativo" (click)='alterarStatusItemLista(item)' >
            {{item.texto}}
          </p>
          <p class="texto-ativo" *ngIf="!item.ativo" (click)='alterarStatusItemLista(item)' >
            {{item.texto}}
          </p>
          <a class="icone" (click)='carregaItemLista(item.id)' >
            <img src="../../assets/img/editar-icone.png" alt="{{item.texto}}" >
          </a>
          <a class="icone-excluir" (click)='excluirLista(item.id)' >
            <img src="../../assets/img/excluir-icone.png" alt="{{item.texto}}" >
          </a>
        </a>
        <div class="novo-item-lista" *ngIf="categoria.nome !== null" >
          <input [(ngModel)]='novaLista.texto' type="text" name="lista" id="lista" placeholder="Novo item" />
          <button type="submit" (click)='adicionarItemLista()' >Adicionar item</button>
        </div>
      </ul>
    </div>
  </ion-content>
</div>

<button id="modal-editar-conteudo-lista-do-item" expand="block">Editar</button>
<ion-modal trigger="modal-editar-conteudo-lista-do-item" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancelar</ion-button>
        </ion-buttons>
        <ion-title>Bem-vindo ao editar de Item:</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-label position="stacked">Digite o nome da categoria:</ion-label>
        <ion-input [(ngModel)]='carregaListaParaEdicao.texto' type="text" name="texto" placeholder="Editar texto"></ion-input>
        <ion-button type="button" (click)='atualizaLista()' (click)="confirm()" [strong]="true" >Atualizar</ion-button>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>
